{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit Customer <span style="color:#e74c3c;">{{customer.firstName}} {{customer.lastName}}</span></h2>

    {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
