{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<div style="margin-top:5rem;">
    <h2 class="text-center">Edit <span style="color:#e74c3c;"> {{product.name}}</span> Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
