/*START TO-TOP*/
.to-top{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    bottom: 16px;
    right: 32px;
    text-decoration: none;
    color: #7c7979;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;
}

.to-top.active{
    bottom: 32px;
    opacity: 1;
    pointer-events:auto;
    z-index: 100;
}
/*END TO-TOP*/

/*START FOOTER*/
footer{
    width: 100%;
    background-color: rgba(109, 105, 105, 0.356);
}
.footer{
    width: 90vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-shrink: 0;
    margin: auto 4vw;
    font-family: "Libre Baskerville","Merriweather",sans-serif;
    font-size: 15px;
}

 .footer a{
    text-decoration: none;
    font-family: "Avro",sans-serif;
    font-size: 14px;
    color: #7c7979;
    line-height: 1.5;
}
.stay-connected, .direct-links, .customer-service{
    height: 30vh;
    margin-top: 2rem;
}

.direct-links a, .customer-service a{
    position: relative;
    transition: all .2s ease-in-out;
 }

.direct-links a::after, .customer-service a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform .4s ease;
}

.direct-links a:hover:after, .customer-service a:hover:after{
    transform: scale(1,1);
}

.stay-connected .links{
    margin: 20px auto;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stay-connected .links i{
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.footer .fab, .footer .fas{
    font-size: 25px;
    transition: all .1s ease-in-out;
}

.footer .fab:hover, .footer .fas:hover{
    font-size: 30px;
}

footer hr{
    margin:0 auto;
    width: 90vw;
}

.FooterLegal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.FooterLegal-element{
    display: flex;
}

.FooterLegal-element a{
    text-decoration: none;
    color: #7c7979;
    font-size: 13px;
    font-family: "Avro",sans-serif;
    transition: all .4s ease-in-out;
}

.FooterLegal-element a:hover{
    color:#000;
}

.FooterLegal span{
    font-family: 'Poppins';
    font-size: 14px;
}

.FooterVerticalLigne{
    width: 1px;
    height: 12px;
    background: black;
    margin: auto 10px;
}
/*END FOOTER*/

@media(max-width:1200px){
    .footer a{
        line-height: 1.5;
    }
}

@media(max-width: 700px){
    .footer a{
        line-height: 1;
    }
}
